apiVersion: v1
kind: Service
metadata:
  name: authentication
  namespace: bastion
spec:
  ports:
  - port: 80 
    protocol: TCP
    targetPort: 8080
  selector:
    app: authentication
  type: ClusterIP

---


apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentication
  namespace: bastion
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authentication
  template:
    metadata:
      labels:
        app: authentication
    spec:
      containers:
      - name: authentication
        image: "ghcr.io/bastionmania/bastionmania/authentification:dev"
        imagePullPolicy: Always
        ports:
        - name: http
          protocol: TCP
          containerPort: 8080
        volumeMounts:
          - name: mnt
            mountPath: /.env
            subPath: fichier.properties
      volumes:
      - name: mnt
        secret:
          secretName: authentication.conf
      imagePullSecrets:
        - name: repogithub


