
  apiVersion: v1
  kind: Secret
  metadata:
    name: gestionbastionbackend.conf
    namespace: bastion
  type: Opaque
  stringData:
    fichier.properties: |
      RUST_LOG=rest_api=info,actix=info,diesel_migrations=info
      DATABASE_URL=postgres://testdiesel:password@postgresql:5432/bastion_manager
      KEY_JWT="bastionmaniabigsecretforjwt"
